{{ 'pp-landing-section.css' | asset_url | stylesheet_tag }}

{%  liquid
  assign title_array = sectionData.title | split: " "
  assign idSuffix = "now" | date: "%N"
  assign id = "PP-Landing-Section-" | append: idSuffix
 %}

{% style %}
  {% if title_array.size == 3 %}
    #{{ id }} h2 > span:nth-child(2) {
      position: absolute;
      left: 50vw;
    }
  {% endif %}
  @media screen and (min-width: 421px) {
    #{{ id }} .pp-landing-section-image-container img {
      width: {{ 100 | divided_by: sectionData.sectionMedia.size }}%;
    }
  }
  @media screen and (max-width: 420px) {
    #{{ id }} .pp-landing-section-image-container img {
      width: 100%;
      height: 560px;
      object-fit: cover;

      &:not(:first-child) {
        display: none;
      }
    }
  }
{% endstyle %}

<div class="pp-landing-section" id="{{ id }}">
  <h2>
    {% for item in title_array %}
      <span>{{ item }}</span>
    {% endfor %}
  </h2>
  <div class="pp-landing-section-image-container">
      {% for s in sectionData.sectionMedia -%}
        {% if s.mediaType == 'image' %}
          {% render 'pp-focal-image', imageData: s.image, rounded: false, dropShadow: false %}
        {% endif %}
      {% endfor %}
  </div>
  <div class="pp-landing-section-text-container">
    <p>
      {{ sectionData.caption }}
    </p>
    <div class="pp-landing-section-button-container">
      {% if sectionData.ctaType == 'buyNow' %}
        {% for product in collections.all.products %}
          {% assign productId = product.id | prepend: 'shopifyProduct-' %}
          {% if productId == sectionData.product._ref %}
            {% render 'pp-buy-button', product: product %}
          {% endif %}
        {% endfor %}
      {% else %}
      <button class="pp-button">
        <a href="pages/{{ sectionData.navigation }}">READ MORE</a>
      </button>
      {% endif %}
    </div>
</div>
