{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer class="patinapatina-footer">
  <div class="footer-menu">
    <ul role="list">
      {% for link in linklists.footer.links %}
        <li>
          <a
            id="FooterMenu-{{ link.handle }}"
            href="{{ link.url }}"
            {% if link.current %}
            aria-current="page"
            {% endif %}
            {% if link.type == 'http_link' %}
            target="_blank"
            {% endif %}>
            {{ link.title | escape }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <img src="{{ 'patinapatina-footer.png' | asset_url }}">
  </div>
</footer>

{% schema %}
  {
    "name": "t:sections.footer.name",
    "class": "section-footer"
  }
{% endschema %}