{{ 'header.css' | asset_url | stylesheet_tag }}

{% style %}
  header {
    background-color: {{ section.settings.background_color }};
  }

  header svg {
    fill: {{ section.settings.text_color }};
  }

  button.patinapatina-button {
    color: {{ section.settings.text_color }};
  }

  button.patinapatina-button-active,
  button.patinapatina-button:hover {
    background-color: {{ section.settings.text_color }};
  }

  button.patinapatina-button-active a,
  button.patinapatina-button:hover a {
    color: {{ section.settings.background_color }};
  }

{% endstyle %}

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<header>
  {%- if request.page_type == 'index' -%}
    <h1>
  {%- endif -%}
      <a href="{{ routes.root_url }}">
        {% render 'patinapatina-logo', color: section.settings.text_color %}
      </a>
  {%- if request.page_type == 'index' -%}
    </h1>
  {%- endif -%}
  <nav class="header-menu">
    <ul role="list">
      {% for link in linklists.main-menu.links %}
        <li>
          <button class="patinapatina-button{%- if link.current -%}-active{%- endif -%}">
            <a
              id="HeaderMenu-{{ link.handle }}"
              href="{{ link.url }}"
              class="button"
              {% if link.current %}
                aria-current="page"
              {% endif %}>
              {{ link.title | escape }}
            </a>
          </button>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#141414"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#FFFBF3"
      }
    ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}


