{{ 'header.css' | asset_url | stylesheet_tag }}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const mobileMenuButton = document.querySelector('.mobile-menu-button')
    mobileMenuButton.addEventListener('click', () => {
      const header = document.querySelector('header')

      const menu = document.querySelector('.mobile-menu')
      const menuButton = document.querySelector('.mobile-menu-button')
      const menuButtonSpan = menuButton.querySelector('span')
      menu.classList.toggle('expanded')
      header.classList.toggle('expanded')
      menuButton.classList.toggle('pp-button-active')
      menuButton.classList.toggle('pp-button')

      const isExpanded = header.classList.contains('expanded')
      menuButtonSpan.textContent = isExpanded ? 'Close' : 'Menu'
      document.body.style.overflow = isExpanded ? 'hidden' : 'auto'
    })
  })

</script>

<header>
  {%- if request.page_type == 'index' -%}
    <h1>
  {%- endif -%}
  <a href="{{ routes.root_url }}">
    {% render 'pp-logo'
      , color: section.settings.text_color %}
  </a>
  {%- if request.page_type == 'index' -%}
    </h1>
  {%- endif -%}

  <nav class="header-menu desktop-only">
    <ul role="list">
      {% for link in linklists.main-menu.links %}
        <li>
          <button class="pp-button{%- if link.current -%}-active{%- elsif request.path == '/cart' and link.title == 'Cart' -%}-active{%- endif -%}">
            <a
              href="{% if link.title == 'Cart' %}/cart{% else %}{{ link.url }}{% endif %}"
              class="button"
              {% if link.current %}
              aria-current="page"
              {% endif %}>
              {{ link.title | escape }}
            </a>
          </button>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <nav class="header-menu non-desktop-only">
    <ul role="list">
      <li>
        <button class="pp-button mobile-menu-button"><span>Menu</span></button>
      </li>
    </ul>
  </nav>
</header>
<menu class="mobile-menu">
  <ul role="list" class="mobile-menu-list">
      {% for link in linklists.main-menu.links %}
        <li>
          <button class="pp-button{%- if link.current -%}-active{%- elsif request.path == '/cart' and link.title == 'Cart' -%}-active{%- endif -%}">
            <a
              href="{% if link.title == 'Cart' %}/cart{% else %}{{ link.url }}{% endif %}"
              class="button"
              {% if link.current %}
              aria-current="page"
              {% endif %}>
              {{ link.title | escape }}
            </a>
          </button>
        </li>
      {% endfor %}
    </ul>
</menu>

<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": {{ shop.name | json }},
      {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
      {% endif %}
      "sameAs": [
        {{ settings.social_twitter_link | json }},
        {{ settings.social_facebook_link | json }},
        {{ settings.social_pinterest_link | json }},
        {{ settings.social_instagram_link | json }},
        {{ settings.social_tiktok_link | json }},
        {{ settings.social_tumblr_link | json }},
        {{ settings.social_snapchat_link | json }},
        {{ settings.social_youtube_link | json }},
        {{ settings.social_vimeo_link | json }}
      ],
      "url": {{ request.origin | append: page.url | json }}
    }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}
{% schema %}
  {
    "name": "t:sections.header.name",
    "class": "section-header"
  }
{% endschema %}