{{ 'patinapatina-home-section.css' | asset_url | stylesheet_tag }}

{% assign title_array = section.settings.section_title | split: " " %}
{% style %}
  .patinapatina-home-section {
    background-color: {{ section.settings.background_color }};
  }

  .patinapatina-home-section h2,
  .patinapatina-home-section p {
    color: {{ section.settings.text_color }};
  }

  .patinapatina-home-section-text-container button {
    border: 1px solid {{ section.settings.text_color }};
  }
  {% if title_array.size == 3 %}
      #Patinapatina-Home-Section-{{ section.id }} h2 > span:nth-child(2) {
        position: absolute;
        left: 50vw;
      }
  {% endif %}
{% endstyle %}

<div
  id="Patinapatina-Home-Section-{{ section.id }}"
  class="patinapatina-home-section"
>
  <h2>
    {% for item in title_array %}
      <span>{{ item }}</span>
    {% endfor %}
  </h2>
  <div class="patinapatina-home-section-image-container">
    {% comment %} <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt }}"> {% endcomment %}
    <img src="{{ 'Home-1.png' | file_url  }}">
    <img src="{{ 'Home-2.png' | file_url  }}">
  </div>
  <div class="patinapatina-home-section-text-container">
    <p>
      {{ section.settings.text }}
      <button>
        <a href="{{ section.settings.button_link }}" class="button">READ MORE</a>
      </button>
    </p>
  </div>
</div>

{% schema %}
  {
    "name": "PatinaPatina Home Section",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#141414"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#FFFBF3"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "PATINAPATINA"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "blocks": [

    ],
    "presets": [
      {
        "name": "patinapatina-home-section"
      }
    ]
  }
  {% endschema %}
