{{ 'patinapatina-stockists.css' | asset_url | stylesheet_tag }}

{%- style -%}

{%- endstyle -%}

<div
  id="Patinapatina-Stockists-{{ section.id }}"
  class="patinapatina-stockists">
  <h2>Stockists</h2>
  <div class="patinapatina-stockists-list">
    {% for block in section.blocks %}
      <p><a href="{{ block.settings.url }}" target="_blank">{{ block.settings.name }}</a></p>
    {% endfor %}
  </div>
  <div class="patinapatina-stockists-background">
    {{ 'patinapatina-stockists-background.svg' | asset_url | img_tag }}
  </div>
</div>

{% schema %}
  {
    "name": "PatinaPatina Stockists",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [

    ],
    "blocks": [
      {
        "type": "patinapatina-stockist",
        "name": "Stockist",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          }
        ]
      }
    ]
  }
  {% endschema %}
