{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'pp-cart-footer.css' | asset_url | stylesheet_tag }}

<div
  class="pp-cart-footer{% if cart == empty %} is-empty{% endif %}"
  id="main-cart-footer"
  data-id="{{ section.id }}">
  <div>
    <div class="cart__footer">
      <div class="cart__blocks">
        <div class="js-contents">
          <div class="totals">
            <h2 class="totals__total">SUBTOTAL</h2>
            <p class="totals__total-value">{{ cart.total_price | money }}</p>
          </div>
        </div>
        <div class="cart__ctas">
          <button
            type="submit"
            id="checkout"
            class="cart__checkout-button pp-button"
            name="checkout"
            {% if cart == empty %}
              disabled
            {% endif %}
            form="cart">
            CHECKOUT
          </button>
        </div>
        <div id="cart-errors"></div>
      </div>
    </div>
  </div>
</div>
