{{ 'pp-landing-section.css' | asset_url | stylesheet_tag }}

{% assign title_array = section.settings.section_title | split: " " %}
{% style %}
  {% if title_array.size == 3 %}
    .pp-landing-section h2 > span:nth-child(2) {
      position: absolute;
      left: 50vw;
    }
  {% endif %}
{% endstyle %}

<div class="pp-landing-section">
  <h2>
    {% for item in title_array %}
      <span>{{ item }}</span>
    {% endfor %}
  </h2>
  <div class="pp-landing-section-image-container">
      {% comment %} TODO: default images and 2 images {% endcomment %}
    <img src="{{ section.settings.image_1 | default: 'pp-landing-default-1.png' | asset_url  }}">
    <img src="{{ section.settings.image_2 | default: 'pp-landing-default-2.png' | asset_url  }}">
  </div>
  <div class="pp-landing-section-text-container">
    <p>
      {{ section.settings.text }}
      <button class="pp-button" disabled="{{ section.settings.purchase_button }}">
        <a href="{{ section.settings.button_link }}">
          {% if section.settings.purchase_button %}SOLD OUT{% else %}READ MORE{% endif %}
        </a>
      </button>
    </p>
  </div>
</div>

{% schema %}
  {
    "name": "Landing Section",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "PATINAPATINA"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }, {
        "type": "checkbox",
        "id": "purchase_button",
        "label": "Show Purchase Button",
        "default": false
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "pp-landing-section"
      }
    ]
  }
{% endschema %}