{{ 'pp-stockists.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .pp-stockists-background {
    background-color: {{ section.settings.background_color }};
  }

  .pp-stockists h2,
  .pp-stockists p {
    color: {{ section.settings.foreground_color }};
  }
{%- endstyle -%}

{% assign metaobj = shop.metaobjects['app--6007307--sanity-documents-home'].values %}

<div class="pp-stockists">
  <h2>Stockists</h2>
  <div class="pp-stockists-list">
    {% for o in metaobj -%}
      {% for s in o.stockists.value -%}
        <p>
          <a href="{{ s.stockistLink }}" class="pp-stockists-link" target="_blank">{{ s.stockistName }}</a>
        </p>
      {%- endfor -%}
    {%- endfor -%}
  </div>
  <div class="pp-stockists-background">
    {{ 'pp-stockists-background.svg' | asset_url | img_tag }}
  </div>
</div>

{% schema %}
  {
    "name": "PatinaPatina Stockists",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#3C3D63"
      }, {
        "type": "color",
        "id": "foreground_color",
        "label": "Foreground Color",
        "default": "#B0CCD5"
      }
    ]
  }
{% endschema %}