{{ 'pp-stockists.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .pp-stockists-background {
    background-color: {{ section.settings.background_color }};
  }

  .pp-stockists h2,
  .pp-stockists p {
    color: {{ section.settings.foreground_color }};
  }
{%- endstyle -%}

<div class="pp-stockists">
  <h2>Stockists</h2>
  <div class="pp-stockists-list">
    {% for block in section.blocks %}
      <p>
        <a href="{{ block.settings.url }}" class="pp-stockists-link" target="_blank">{{ block.settings.name }}</a>
      </p>
    {% endfor %}
  </div>
  <div class="pp-stockists-background">
    {{ 'pp-stockists-background.svg' | asset_url | img_tag }}
  </div>
</div>

{% schema %}
  {
    "name": "PatinaPatina Stockists",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#3C3D63"
      }, {
        "type": "color",
        "id": "foreground_color",
        "label": "Foreground Color",
        "default": "#B0CCD5"
      }
    ],
    "blocks": [
      {
        "type": "pp-stockist",
        "name": "Stockist",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          }, {
            "type": "url",
            "id": "url",
            "label": "URL"
          }
        ]
      }
    ]
  }
{% endschema %}