{{ 'pp-subpage-section.css' | asset_url | stylesheet_tag }}


{% liquid
  assign section_id = 'PP-Subpage-Section-' | append: section.id
  assign section_title_className = 'pp-subpage-section-title'
%}

<div id="{{ section_id }}" class="pp-subpage-section">
  <div class="pp-subpage-section-header-container">
    <div class="pp-subpage-section-dot"></div>
    <h1>PRODUCTION BY PATINAPATINA</h1>
    <h2 class="{{ section_title_className }}">{{ section.settings.section_title }}</h2>
  </div>
  <img src="{{ section.settings.primary_image | default: 'pp-subpage-section-default.png' | asset_url  }}">

  {% if section.settings.start_date %}
    <p class="pp-subpage-section-date">
      {% if section.settings.start_date != blank %}
        {% render 'pp-date', date: section.settings.start_date %}
      {% endif %}
      {% if section.settings.start_date != blank and section.settings.end_date != blank %}
        <span>-</span>
      {% endif %}
      {% if section.settings.end_date != blank %}
        {% render 'pp-date', date: section.settings.end_date %}
      {% endif %}
    </p>
  {% endif %}
  <div class="pp-subpage-section-description">
    {{ section.settings.description }}
  </div>
</div>
<script>
  (() => {
    /* const div = document.getElementById('{{ section_id }}');
    const sectionTitleElem = div.querySelector('.{{ section_title_className }}');
    const sectionTitle = '{{ section.settings.section_title }}';

    const regex = /(?<=([^a-zA-Z0-9_-]+|^\b))[a-zA-Z0-9_-]+\S/gm
    const sectionTitleArray = sectionTitle.split('/');
    let result;

    while ((result = regex.exec(sectionTitle)) !== null) {
      const span = document.createElement('span');
      span.textContent = result[0];
      sectionTitleElem.appendChild(span);
    } */
  })();
</script>
{% schema %}
  {
    "name": "Subpage Section",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "TEST"
      },
      {
        "type": "image_picker",
        "id": "primary_image",
        "label": "Primary Image"
      },
      {
        "type": "text",
        "id": "start_date",
        "label": "Start Date",
        "info": "Date format: DD.MM.YYYY"
      },
      {
        "type": "text",
        "id": "end_date",
        "label": "End Date",
        "info": "Date format: DD.MM.YYYY"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      }
    ],
    "presets": [
      {
        "name": "pp-subpage-section"
      }
    ]
  }
{% endschema %}